{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<script type="text/javascript"> //below script tag for java script all the java script should be in script tag function is inbuild libery

	function checkFname() {
		var f = document.frm.fname.value;
		var reg = /^[A-Za-z]+$/; // allow only A-Z means all capital alphabet A to Z and a-z means all small alphabet, + means check whole text box data means check [a to z]
		if (f == "") // means blanck, if text box blanck then below error show
		{
			document.getElementById("fname").innerHTML = "Please Enter First Name";  //this is linked from span tag.
		}
		else if (!reg.test(f))    // if data not match with second var (verialble) then below error show, ! means not
		{
			document.getElementById("fname").innerHTML = "Please Enter Only Alphabets"; //this is linked from span tag.
		}
		else {
			document.getElementById("fname").innerHTML = "";   // "" means if data correct then no error 

		}

	}
	function checkLname() {
		var l = document.frm.lname.value;
		var reg = /^[A-Za-z]+$/;
		if (l == "") {
			document.getElementById("lname").innerHTML = "Please Enter Last Name";
		}
		else if (!reg.test(l)) {
			document.getElementById("lname").innerHTML = "Please Enter Only Alphabets";
		}
		else {
			document.getElementById("lname").innerHTML = "";

		}

	}
	function checkEmail() {
		var e = document.frm.email.value;
		var reg = /^[A-Za-z0-9-_.]+@[A-Za-z]+\.[A-Za-z]{2,4}$/;  // \. means consider special character
		if (e == "") {
			document.getElementById("email").innerHTML = "Please Enter Your mail ID";
		}
		else if (!reg.test(e)) {
			document.getElementById("email").innerHTML = "Please Enter Valid Email";
		}
		else {
			document.getElementById("email").innerHTML = "";

		}

	}
	function checkMobile() {
		var m = document.frm.mobile.value;
		var reg = /^\d{10}$/;  // \d means int value only and 10 means 10 digit allow only  
		if (m == "") {
			document.getElementById("mobile").innerHTML = "Please Enter Your Mobile Number";
		}
		else if (!reg.test(m)) {
			document.getElementById("mobile").innerHTML = "Please Enter 10 Digit Mobile Number";
		}
		else {
			document.getElementById("mobile").innerHTML = "";

		}

	}
	function checkPassword() {
		var p = document.frm.password.value;
		var reg = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;  // \d means int value only and second for small letter and third for capital and fourth for special character and fifth \s means space is not allow in password and six for password lenght for min and max  
		if (p == "") {
			document.getElementById("password").innerHTML = "Please Enter Password";
		}
		else if (!reg.test(p)) {
			document.getElementById("password").innerHTML = "Min 1 Upper,Lower,Digit,Special(8,15)";
		}
		else {
			document.getElementById("password").innerHTML = "";

		}

	}
	function checkCPassword() {
		var p1 = document.frm.password.value;
		var p2 = document.frm.cpassword.value;

		if (p2 == "") {
			document.getElementById("cpassword").innerHTML = "Please Enter Password";
		}
		else if (p1 != p2) {
			document.getElementById("cpassword").innerHTML = "Password and Confirm Password Does Not Match";
		}
		else {
			document.getElementById("cpassword").innerHTML = "";

		}

	}

</script>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">Returnable Gate Pass Outward</h3>
				<ul class="breadcrumb-tree">
					<li><a href="{% url 'back' %}">Home</a></li>

				</ul>

			</div>
		</div>
		<!-- /row -->

	</div>
	<!-- /container -->
	{% if msg %}
	<b style="color: blue;">{{msg}}</b>
	{% endif %}
</div>

<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-7">
				<!-- Billing Details -->
				<div class="billing-details">
					<div class="section-title">

					</div>

					<!-- ------TEMP DIV------------------- -->
					<div class="top_set">
						<form name="rgp_signup" method="post" action="{% url 'nrgp_outward' nrgp_entrys.id %}"
							enctype="multipart/form-data" onsubmit="printingdata()">
							{% csrf_token %}

							<div class="form-group">

							</div>
							<div class="form-group">
								<input class="input" type="text" name="cpname" id="val_fname"
									value="{{nrgp_entrys.cpname}}" placeholder="Name of Concern Person" required>


							</div>
							<div class="form-group">
								<input class="input" type="text" name="dpname" id="val_surname"
									value="{{nrgp_entrys.dpname}}" placeholder="Name of Department" required>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="spname" id="val_surname"
									value="{{nrgp_entrys.spname}}" placeholder="Service Provider Name" required>
							</div>

							<div class="form-group">
								<input class="input" type="text" name="desc" id="val_surname"
									value="{{nrgp_entrys.desc}}" placeholder="Item Description" required>
							</div>

							<!-- <div class="form-group">
									<input class="input" type="text" name="unit" id="val_surname" placeholder="Unit" required>
								</div> -->
							<select name="unit">
								<option>{{nrgp_entrys.unit}}</option>

							</select>
							<br><br>
							<div class="form-group">
								<input class="input" type="text" name="qty" placeholder="Quantity"
									value="{{nrgp_entrys.qty}}" required>

							</div>
							<div class="form-group">
								<input class="input" type="text" name="remarks" id="val_reason"
									value="{{nrgp_entrys.remarks}}" placeholder="Remarks" required>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="tmode"
									placeholder="Travel Mode / Vehicle Number">

							</div>
							<div class="form-group">
								<input class="input" type="text" name="rname" placeholder="Receiver Name">

							</div>
							<div class="form-group">


							</div>

							<button type="submit" class="primary-btn order-submit">Submit </button>
							<a href="{% url 'back' %}"><button type="button"
									class="primary-btn order-submit">Back</button></a><br><br>


					</div>
					<!-- -----------temp div over------- -->
				</div>

				<script type="text/javascript">

					function printingdata() {
						var today = new Date();
						document.getElementById('time_show').innerHTML = today
						var print_div = document.getElementById("hello");
						var username = document.getElementById("val_fname").value;
						document.getElementById("myname").innerHTML = username;
						var usersurname = document.getElementById("val_surname").value;
						document.getElementById("mysurname").innerHTML = usersurname;
						var usercode = document.getElementById("val_code").value;
						document.getElementById("mycode").innerHTML = usercode;
						var useramount = document.getElementById("val_amount").value;
						document.getElementById("myamount").innerHTML = useramount;
						var userreason = document.getElementById("val_reason").value;
						document.getElementById("myreason").innerHTML = userreason;
						var print_area = window.open();
						print_area.document.write(print_div.innerHTML);
						print_area.document.close();

						print_area.focus();
						print_area.print();
						// print_area.close();
						// This is the code print a particular div element
					}

				</script>
				<div id="hello" hidden>
					<div class="col-md-6">
						<strong>Receipt </strong><br>
						<div class="table-responsive">
							<table class="table table-user-information">
								<tbody>
									<tr>
										<td>
											<strong>
												<span class="glyphicon glyphicon-asterisk text-primary"></span>
												Name
											</strong>
										</td>
										<td class="text-primary">
											<span id="myname"></span><span id="mysurname"></span>

										</td>
									</tr>
									<tr>
										<td>
											<strong>
												<span class="glyphicon glyphicon-asterisk text-primary"></span>
												Emp Code
											</strong>
										</td>
										<td class="text-primary">
											<span id="mycode"></span>
										</td>
									</tr>
									<tr>
										<td>
											<strong>
												<span class="glyphicon glyphicon-asterisk text-primary"></span>
												Amount
											</strong>
										</td>
										<td class="text-primary">
											<span id="myamount"></span>
										</td>
									</tr>
									<tr>
										<td>
											<strong>
												<span class="glyphicon glyphicon-asterisk text-primary"></span>
												Time
											</strong>
										</td>
										<td class="text-primary">
											<span id="time_show"></span>
										</td>
									</tr>
									<tr>
										<td>
											<strong>
												<span class="glyphicon glyphicon-asterisk text-primary"></span>
												Reason
											</strong>
										</td>
										<td class="text-primary">
											<span id="myreason"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->


<script>
	$("#email").change(function () {
		var email = $(this).val();

		$.ajax({
			url: '/ajax/validate_email/',
			data: {
				'email': email
			},
			dataType: 'json',
			success: function (data) {
				if (!data.is_taken) {
					document.getElementById("email").style.border = "5px solid red";
					document.getElementById("email_error").innerHTML = "Email Id Already Registered";
				} else {
					document.getElementById("email").style.border = "5px solid green";
					document.getElementById("email_error").innerHTML = "";
				}
			}
		});
	});

</script>



</body>

</html>
{% endblock %}