{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			color: black;
			font-weight: bold;
		}

		th,
		td {
			padding: 10px;
		}

		table#alter tr:nth-child(even) {
			background-color: #eee;
		}

		table#alter tr:nth-child(odd) {
			background-color: #fff;
		}

		table#alter th {
			color: white;
			background-color: gray;
		}

		.table_data {
			margin-top: 10px;
		}
	</style>

</head>

<body>

	<h1></h1>
	<div class="petty_cash">NRGP Details</div>
	<h4>
		<div class="btn1_99">
			<li><a href="{% url 'back' %}">Home</a></li>
		</div>
		<center style="color:red">{{msg}}</center>
	</h4>
	
	<!-- ----------------temp div-------- -->
	<div class="table_data">
		
		<table id="alter">
			<tr>
				
				<th>Concern Person Name</th>
				<th>Department Name</th>
				<th>Service Provider Name</th>
				<th>Description</th>
				<th>Unit</th>
				<th>Quantity</th>
				<th>Remarks</th>
				<th>NRGP Outward</th>
				
				
			</tr>
			{% for i in nrgp_entrys %}

			
			<form action="{% url 'nrgp_outward' %}" method="post">
				{% csrf_token %}
				<tr>
					<td> {{i.cpname}}</td>
					<td>{{i.dpname}} </td>
					<td>{{i.spname}} </td>
					<td>{{i.desc}} </td>
					<td>{{i.unit}} </td>
					<td>{{i.qty}} </td>
					
					<td>{{i.remarks}} </td>
					<td><button type="submit" class="primary-btn order-submit">NRGP Outward </button> </td>
					
					<br>
					<!-- <div><button onClick="window.print()">Print this page</button></div> -->

			</form>
			{% endfor %}
			</tr>
		</table>
		<!-- ----------------temp div over-------------- -->
	</div>



</body>

</html>
{% endblock %}