{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			color: black;
			font-weight: bold;
		}

		th,
		td {
			padding: 10px;
		}

		table#alter tr:nth-child(even) {
			background-color: #eee;
		}

		table#alter tr:nth-child(odd) {
			background-color: #fff;
		}

		table#alter th {
			color: white;
			background-color: gray;
		}
	</style>

</head>

<body>

	<h1></h1>
	<div class="petty_cash">RGP DATA</div>
	<h4>
		<div class="btn1_99"><li><a href="{% url 'back' %}">Home</a></li></div>
		<center style="color:red">{{msg}}</center>
	</h4>
	<!-- ----------------temp div-------- -->
	<div class="table_data">
		<table id="alter">
			<tr>
				<th>Cocern Person Name</th>
				<th>Department Name</th>
				<th>Service Provider Name</th>
				<th>Description</th>
				<th>Quantity</th>
				<th>Remarks</th>
				<th>Exit</th>
				<th>Send Mail</th>
				<th>Return</th>
			</tr>
			{% for i in rgp_entrys %}
			<form action="{% url 'rgp_send' i.id %}" method="post">
				{% csrf_token %}
				<tr>
					<td> {{i.cpname}}</td>
					<td>{{i.dpname}} </td>
					<td>{{i.spname}} </td>
					<td>{{i.desc}} </td>
					<td>{{i.qty}} </td>
					<td>{{i.remarks}} </td>
					<td><button type="submit" class="primary-btn order-submit">Exit </button> </td>
					<td><a href="{% url 'send_email' i.id %}"><button type="button"
								class="primary-btn order-submit">Send
								Mail</button></a> </td>
					<td><a href="{% url 'return_amount' i.id %}"><button type="button"
								class="primary-btn order-submit">Return Amount</button></a> </td>
					<br>
					<!-- <div><button onClick="window.print()">Print this page</button></div> -->

			</form>
			{% endfor %}
			</tr>
		</table>
		<!-- ----------------temp div over-------------- -->
	</div>



</body>

</html>
{% endblock %}